body{
  background-color: black;
  font-size: 28px;
  color: lightgray;
  font-family: "Cousine",monospace;
}

#pojemnik{
  display: none;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}

#plansza{
  width: 900px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  font-size: 48px;
}

#szubienica{
  text-align: center;
  width: 450px;
  float: left;
  min-height: 280px;
}

#alfabet{
  text-align: center;
  width: 450px;
  float: left;
  min-height: 280px;
}
.litera{
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid gray;
  float: left;
  cursor: pointer;
  border-radius: 15px;
  
}
.litera:hover
{
  background-color: #222222;
  color: white;
  border: 3px;
}
.reset{
  text-align: center;
  padding: 5px;
  margin: 5px;
  border: 3px solid #00C000;
  cursor: pointer;
  border-radius: 15px;
  color: #00C000;
  
}
#menu{
  margin-right: auto;
  margin-left: auto;
  width: 900px;
  font-size: 24px;
  text-align: center;
}
#s_menu{
  text-align: center;
  width: 450px;
  min-height: 280px;
}
input[type="text"] {
  width: 250px;
  height: 20px;
  padding: 10px 15px;
  font-size: 18px;
  color: white;
  background-color: #222222;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none; /* usuwa niebieską ramkę */
  transition: all 0.3s ease; /* płynne animacje */
}

input[type="text"]:focus {
  border-color: #00c000; /* zmiana koloru po kliknięciu */
  box-shadow: 0 0 10px rgba(0, 192, 0, 0.3); /* lekki blask */
  background-color: #222222;
}
